<h2 class="my-3"><%= t('.title') %></h2>

<%= render partial: 'form', locals: { button_id: 'create-task', task: @task } %>

<%= link_to t('helpers.links.back'), tasks_path, id: "back", class: "text-decoration-none" %>
