<h2 class="my-3"><%= t(".title") %></h2>

<%= render  partial: 'form', locals: { button_id: 'update-user', user: @user } %>

<%= link_to t("helpers.links.back"), user_path, id: "back", class: "text-decoration-none" %>